
body{
    background: #ffffff;
} 
#banner{
    width: 100%;

}
h1{
    text-align: center;
    color:#000000 ;

}
p{
text-align: center;
}
#terceiro{
    font-size:20px;
}

em strong{
    color: red

}
h2{
    text-align: center;
    color:#ffffff ;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right:15% ;
}

.item{
    font-style: italic;
color :grey
}

.tipos {
    background: #ffffff;
}
.imagem2{
    width: 50%;

}




